.App {
  background-color: beige;
  min-height: 100vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.add-new{
  color:aqua;
}

/* Edit button styling */
.edit-btn {
  font-size: 1.5rem;
  padding: 10px 30px;
  color: #0400ff;
  text-transform: uppercase;
}

.edit-btn {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
}

.edit-btn:hover {
  box-shadow: 1px 1px 25px 10px rgb(146, 148, 248);
}

.edit-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgb(146, 148, 248),
    transparent
  );
  transition: all 650ms;
}

.edit-btn:hover:before {
  left: 100%;
}

/* Delete button styling */
.delete-btn {
  font-size: 1.5rem;
  padding: 10px 30px;
  color: #ff0000;
  text-transform: uppercase;
}

.delete-btn {
  text-decoration: none;
  border: 1px solid rgb(255, 0, 0);
  position: relative;
  overflow: hidden;
}

.delete-btn:hover {
  box-shadow: 1px 1px 25px 10px rgb(248, 146, 146);
}

.delete-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgb(248, 146, 146),
    transparent
  );
  transition: all 650ms;
}

.delete-btn:hover:before {
  left: 100%;
}